#snipItButton {
  position: absolute !important;
  z-index: 99997 !important;
  border: solid darkblue 1px !important;
  background-color: lightgoldenrodyellow !important;
  color: #333 !important;
}
