$white: white;
$blue: dodgerblue;

#snipItPanelSave {
  box-sizing: border-box !important;
  display: none;
  position: fixed !important;
  z-index: 99999 !important;

  top: 50% !important;
  left: 50% !important;
  width: 720px !important;
  max-width: 90% !important;
  max-height: 90% !important;
  overflow-y: scroll !important;
  transform: translate(-50%, -50%) !important;

  padding: 20px !important;
  background-color: $white !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) !important;

  color: #333 !important;
  font-size: 16px !important;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;

  .snipItPageUrl {
    box-sizing: border-box !important;
    display: block !important;

    width: 100% !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;

    color: $blue !important;
    text-decoration: underline !important;
    font-size: 12px !important;
  }

  .snipItTag {
    display: inline-block !important;
    padding: 4px 6px !important;

    border: 1px solid $blue !important;
    border-radius: 6px !important;

    font-size: 11px !important;
    line-height: 1 !important;
    vertical-align: middle !important;

    cursor: pointer !important;

    &::after {
      content: "\00d7"; // multiplication sign
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-left: 3px;
      line-height: 1 !important;
      vertical-align: text-bottom !important;
      text-align: center !important;
      font-size: 10px !important;
    }

    &:hover{
      background: $blue !important;
      color: $white !important;

      &::after {
        color: $blue !important;
        background: $white !important;
        border-radius: 50% !important;
      }
    }
  }

  small {
    font-size: 75% !important;
  }

  form > div {
    padding-bottom: 1em !important;
  }

  label {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;

    color: #333 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;

    &.snipItInlineLabel {
      display: inline-block !important;
      width: auto !important;
    }
  }

  input[type="text"],
  textarea {
    box-sizing: border-box !important;
    display: block !important;
    width: 100% !important;

    padding: 8px 10px !important;
    background: $white !important;
    border: 1px solid #c8ccd0 !important;
    box-shadow: 0 1px 2px rgba(12, 13, 14, 0.1) inset !important;

    color: #3b4045 !important;
    font-size: 14px !important;

    &:focus {
      outline: 0 !important;
      border: 1px solid $blue !important;
    }
  }

  input {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  }

  textarea {
    overflow-x: scroll !important;
    resize: vertical !important;

    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
  }
}